
.title_section_footer{
    //font-family: Poppins;
  font-family: "Monsieur La Doulaise", serif;
  font-weight: bolder;
  letter-spacing:3px;

  font-style: normal;
  font-size: 30px;
}
#footer-title{
   //font-family: princess;
  font-family: "Monsieur La Doulaise", serif;

}
