<div class="footer p-5">
    <div class="footer-top row m-auto">
        <div class="title-box col-sm-12 col-md-6 col-lg-4">
            <div id="footer-title" class="title_section_footer my-3">
                Le Monde Des Jeans
            </div>
            <div>
                <ul class="my-3 ">
                    <li>HLM1 villa n16, Dakar</li>
                    <li>Senegal</li>
                    <li>+221784346017</li>
                </ul>
            </div>
            <div class="d-flex">
                <a href="https://www.facebook.com/profile.php?id=61555758929509"><img src="../../assets/img/facebook.png" alt="" srcset=""></a>
                <img src="../../assets/img/insta.png" alt="" srcset="">
                <a href="https://chat.whatsapp.com/IfL8jPCvs993TzOAoFo8ac"><img src="../../assets/img/whatsapp.png" alt="" srcset=""></a>
            </div>
        </div>
        <div class="page-box col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="title_section_footer">Page</div>
            <ul class="my-3 ">
                <li><a href="">Accueil</a></li>
                <li><a href="">Shop</a></li>
                <li><a [routerLink]="['/avis']" >Avis</a></li>
            </ul>
        </div>
        <div class="info-box col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="title_section_footer">Infos</div>
            <ul class="my-3 ">
                <li>A propos de nous</li>
                <li>Support</li>
                <li>Contactez-nous</li>
                <li>FAQ'S</li>
            </ul>
        </div>
    </div>
    <hr class="hr mx-auto my-3">
    <div class="footer-bottom d-flex flex-column flex-md-row m-auto text-center">
        <div class="mx-2">Copyright © 2024 WebOptimaStudio</div>
        <div class="vr mx-2 d-none d-md-block" style="height: 25px;"></div>
        <div class="mx-2">Privacy Policy</div>
        <div class="mx-2">Terms & Conditions</div>
    </div>
</div>