<footer class="footer py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <h2 id="footer-title" class="h3 mb-4">Le Monde Des Jeans</h2>
                <address class="mb-4">
                    <p>{{infos?.addresse_site}}</p>
                    <p>Senegal</p>
                    <p><a href="tel:+221784346017" class="text-light">{{infos?.telephone_site}}</a></p>
                </address>
                <div class="social-icons">
                    <a href={{infos?.Lien_facebook}} target="_blank" class="me-3" target="_blank" rel="noopener noreferrer">
                        <img srcset="../../assets/img/facebook.png" width="30" height="30" alt="Facebook" class="social-icon"
                        >
                    </a>
                    <a href={{infos?.Lien_instagram}} target="_blank" class="me-3">
                        <img srcset="../../assets/img/insta.png" width="30" height="30" alt="Instagram" class="social-icon">
                    </a>
                    <a href={{infos?.Lien_Whatsapp}} target="_blank" target="_blank" rel="noopener noreferrer">
                        <img srcset="../../assets/img/whatsapp.png" width="30" height="30" alt="WhatsApp" class="social-icon">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3 class="h5 mb-4">Pages</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="" class="nav-link">Accueil</a></li>
                    <li><a [routerLink]="['/produits']" class="nav-link">Shop</a></li>
                    <li><a [routerLink]="['/avis']" class="nav-link">Avis</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6">
                <h3 class="h5 mb-4">Informations</h3>
                <ul class="list-unstyled footer-links">
                    <li><a href="#" class="nav-link">À propos de nous</a></li>
                    <li><a href="#" class="nav-link">Support</a></li>
                    <li><a href="#" class="nav-link">Contactez-nous</a></li>
                    <li><a href="#" class="nav-link">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <hr class="bg-light opacity-25">
        <div class="row align-items-center mt-4">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2024 WebOptimaStudio. Tous droits réservés.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-light me-3">Politique de confidentialité</a>
                <a href="#" class="text-light">Conditions d'utilisation</a>
            </div>
        </div>
    </div>
</footer>