<div class="my-2 border px-2 d-flex justify-content-between align-items-center item-container">
    <div class="img-container d-flex align-items-center border">
        <p><img style="width: 30px;height:30px;" 
            [src]="getProductImageUrl()" 
            [alt]="produit?.nom || 'Product image'"></p>
        <p class="d-flex align-items-center justify-content-between flex-row flex-md-column">
            <span class="fw-bold">{{produit?.nom}}</span>
            <button class="my-2 mx-4" (click)="removeProduit(panierProduit?.id)">retirer</button>
        </p>
    </div>
    <div class="expiration border">
    <div class="d-flex d-md-block align-items-center px-md-4">
        <p class="my-0">Expire dans : </p>
<div class="d-flex justify-content-around">
        <p class="timer-box mx-1 justify-content-center align-items-center d-flex flex-md-column">
            <button class="btn me-1 btn-danger px-2 py-1 text-light" style="width: min-content;">04</button>
            <span>Minutes</span>
        </p>
        <p class="timer-box mx-1 justify-content-center align-items-center d-flex flex-md-column">
            <button class="btn me-1 btn-danger px-2 py-1 text-light" style="width: min-content;">35</button>
            <span>Secondes</span>
        </p>
    </div>
</div>
    </div>
    <p class="border prix text-primary fw-bold">{{produit?.prix}} frcs</p>
</div>