/* home-admin.component.css */
.admin_page {
    display: flex;
    flex-direction: column;
  }
  
  .main-layout {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
  }
  
  app-admin-header {
    height: auto;
    position:sticky;
    top:0px;
    z-index: 1000;
  }
  
  app-admin-sidebar {
    width: auto;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Permet de scroller si le contenu est trop grand */
  }
  