<div class="reviews-container">
    <h2 class="d-flex align-items-center gap-2">
	<img src="/assets/img/avis-clients-illustration.svg" alt="Illustration livraison" class="img-fluid mb-3 " style="max-height: 150px;">
	<span class="reviews-title ">Avis Clients</span>
</h2>
  @if (isLoading) {
    <tr>
      <td colspan="4" class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Chargement...</span>
        </div>
      </td>
    </tr>
  } @else {
    @if (reviews.length) {
      @for (review of reviews; track review.id) {
    <div class="review-card">
        <button class="delete-btn" title="supprimer l'avis" (click)="deleteReview(review.id)" aria-label="Supprimer l'avis">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
        <div class="review-header">

            <span class="client-name">{{ review.Avis_author.nom_complet }}, {{ review.Avis_author.phone_number }}</span>
            <span class="review-date">{{ review.temoigne_le | date : 'dd MMMM YYYY' }}</span>
        </div>
        <div class="review-rating">
            {{ '★'.repeat(review.nbre_etoiles) }}{{ '☆'.repeat(5 - review.nbre_etoiles) }}
        </div>
        <p class="review-content">{{ review.Texte_avis }}</p>

    </div>
      }
    } @else {
      <tr>
        <td colspan="4" class="bg-warning" style="text-align: center">Aucun avis trouvé.</td>
      </tr>
    }
  }
</div>
<div class="d-flex justify-content-center">
  <div *ngIf="reviews.length" class="d-flex justify-content-between p-2 w-100">
    <ngb-pagination 
    [collectionSize]="totalItems" 
    [(page)]="page" 
    [pageSize]="pageSize"
    (pageChange)="OnPageChange($event)"
    [boundaryLinks]="true"
    [maxSize]="5"
    aria-label="Navigation des pages">
    </ngb-pagination>
    <p>{{totalItems}} commentaires au total</p>
    <select class="form-select" style="width: max-content;" [(ngModel)]="pageSize" (ngModelChange)="loadAvis();">
        <option selected [ngValue]="10">10 produits par page</option>
        <option [ngValue]="50">50 produits par page</option>
        <option [ngValue]="totalItems">Toutes les commentaires</option>
    </select>
  </div>
</div>
