<section class="container-fluid container-md mt-2 mb-5 position-relative">
<app-checkout-progress-bar [currentStep]="CheckoutStep" class="my-2"></app-checkout-progress-bar>

<section class="row position-relative mb-2">
  <div class="col-12 col-md-8 table-panier">
    <table class="w-100">
      <thead class="my-3">
        <tr><th>Produit</th>
          <th>Prix</th>
          <th></th></tr>
      </thead>
      <tbody>
        <tr class="my-2"  *ngFor="let prod of panier.produits; let i=index">
          <td class="d-flex align-items-center">
            <p class="me-2 p-2"><img style="width: 60px;height:60px;" src="../../../../assets/img/435568931_122138645126191964_618494230128699512_n.jpg" alt=""></p>
            <p class="">Pull blanc </p>
          </td>
          <td>
            <p class=" prix text-primary fw-bold">13423 frcs</p>
          </td>
          <td class="static-right">
              <p class="my-0 d-flex flex-column flex-sm-row"><span class="d-inline-block me-1">Expire dans </span><span class="ms-1 text-danger">5 min 35 s</span></p>
              <p class="my-1 text-danger ps-2" style='font-style:italic'>
                <button (click)="removeProd()" class="btn btn-danger p-0 px-1">Retirer</button></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="my-3 ms-2">
      <button class="ms-2 my-1 mx-auto bg-light border border-dark rounded-3 p-2" >
        <a class="text-decoration-none text-dark" [routerLink]="['/produits']">Ajouter d'autres produits
        </a>
        </button>
    </p>
  </div>
  <div class="mt-4 col-10 col-sm-8 col-md-4 border rounded-2 p-3 mx-auto">
    <h5>RESUME DU PANIER</h5>
    <p class="fw-bold text-danger">Frais de livraison non inclus à ce stade.</p>
  <div class="delivery-options ">
    <label class="option">
      <input type="radio" name="deliveryOption" [(ngModel)]="selectedOption" value="livraison">
      <span class="radio-button"></span>
      <span class="label-text">Livraison : 24h</span>
    </label>
    
    <label class="option">
      <input type="radio" name="deliveryOption" [(ngModel)]="selectedOption" value="recuperation">
      <span class="radio-button"></span>
      <span class="label-text">Récupération</span>
    </label>
  </div>
  <p class="fw-bold mt-3 d-flex justify-content-between align-items-center">
    <span>Total</span>
    <span>12000 frcs</span>
  </p>
  <button class="my-1 w-75 mx-auto bg-dark rounded-3 border-0 p-2" style="color:white">
    <a class="text-decoration-none text-light" [routerLink]="['/detail-commande']">Continuer
    </a>
    </button>
</div>
</section>
</section>