<section class="container-fluid container-md mt-2 mb-5 position-relative">
<app-checkout-progress-bar [currentStep]="CheckoutStep" class="my-2"></app-checkout-progress-bar>

<section class="row position-relative mb-2">
  <div class="col-12 col-md-8 table-panier">
    <p *ngIf="errorMessage" class="w-100 py-3 mx-auto text-center bg-warning">{{errorMessage}}</p>
    <table class="w-100">
      <thead class="my-3">
        <tr><th>Produit</th>
          <th>Prix</th>
          <th></th></tr>
      </thead>
      <tbody>
        @if (isLoading) {
          <tr>
            <td colspan="8" class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Chargement...</span>
              </div>
            </td>
          </tr>
        } @else {
          @if (contenupanier.length){
            @for (content of contenupanier; track content.id) {
              <tr class="my-2">
                <td class="d-flex align-items-center">
                  <p class="me-2 p-2">
                    <img style="width: 60px;height:60px;" [src]="getProductImageUrl(content.produit)" alt="">
                    <!--<img style="width: 60px;height:60px;" [ngSrc]="content.produit.images[0].image" alt=""> -->
                  </p>
                  <p class="">{{content.produit.nom}}</p>
                </td>
                <td>
                  <p class=" prix text-primary fw-bold">{{content.produit.prix}} frcs</p>
                </td>
                <td class="static-right">

                  <p class="my-0 d-flex flex-column flex-sm-row"><span class="d-inline-block me-1"></span><span class="ms-1"  [ngStyle]="{'color': getTimeColor(content.date_ajout)}"> {{ getTempsRestant(content.produit.slug,content.date_ajout) }}</span></p>

                  <p class="my-1 text-danger ps-2" style='font-style:italic'>
                    <button (click)="removeProd(content.produit.slug)" class="btn btn-danger p-0 px-1">Retirer</button></p>
                </td>
              </tr>
            }
          } @else {
              <tr>
                <td colspan="4" class="bg-warning my-2" style="text-align: center">Votre Panier est Vide.</td>
              </tr>
          }


        }

      </tbody>
    </table>
    <p class="my-3 ms-2 d-flex justify-content-between align-items-center">
      <button class="ms-2 my-1 mx-auto bg-light border border-dark rounded-3 p-2" >
        <a class="text-decoration-none text-dark" [routerLink]="['/produits']">Continuer vos Achats</a>
        </button>
        <button class="btn btn-warning" (click)="viderPanier()" [disabled]="!contenupanier.length">Vider le Panier</button>
    </p>
  </div>
  <div class="mt-4 col-10 col-sm-8 col-md-4 border rounded-2 p-3 mx-auto">
    <h5>RESUME DU PANIER</h5>
    <p class="fw-bold text-danger">Frais de livraison non inclus à ce stade.</p>
  <div class="mt-3 ">
    <p class="align-items-center "><span class="text-success fw-bold fs-4 me-2">{{contenupanier.length}}</span> articles</p>
    <p class="fw-bold mt-3 d-flex justify-content-between align-items-center">
      <span>Total</span>
      <span>{{panier?.montant}} FCFA</span>
    </p>
  </div>
  <button class="my-1 w-75 mx-auto bg-dark rounded-3 border-0 p-2"
          (click)="commander()"
          style="color:white"
          [disabled]="!contenupanier.length">
    <a class="text-decoration-none text-light">Continuer
    </a>
    </button>
</div>
</section>
</section>
