<h3 class="text-center my-2">Réinitialisation de mot de passe</h3>
<div class="mt-2 col-12 col-sm-6 col-md-4 p-3 mx-auto reset-password-popUp shadow" *ngIf="step === 'phone'">
    <h6>Entrez votre numéro de téléphone</h6>
    <small>Un code sera envoyé à ce numéro pour confirmer votre identité.</small><br>
    <input type="text" class="w-100 p-1 my-2 phone_number" [(ngModel)]="phone_number"><br>
    <button class="btn btn-primary px-2 my-1" (click)="onPhoneSubmitted(phone_number)">
        Recevoir un code
    </button>
</div>
<div class="mt-2 col-12 col-sm-6 col-md-4 p-3 mx-auto reset-password-popUp shadow" *ngIf="step === 'otp'">
    <h6>Saisissez le code envoyé au {{phone_number}}</h6>
    <small>Un code est envoyé à vore numéro,saisissez le pour modifier ton mot de passe.</small><br>
    <input type="text" class="w-100 p-1 my-2 otp" [(ngModel)]="otp"><br>
    <button class="btn btn-primary px-2 my-1" (click)="onOtpSubmitted(otp)">
        Envoyer
    </button>
</div>
<div class="mt-2 col-12 col-sm-6 col-md-4 p-3 mx-auto reset-password-popUp shadow" *ngIf="step === 'new-password'">
    <h6>Donner un nouveau mot de passe.</h6>
    <small>Choisissez un nouveau mot de passe.</small><br>
    <label for="new_password">Nouveau mot de passe</label><br>
    <input type="text" class="w-100 p-1 my-2 new_password" [(ngModel)]="new_password"><br>
    <label for="new_password_confirm">Confirmer le mot de passe</label><br>
    <input type="text" class="w-100 p-1 my-2 new_password_confirm" [(ngModel)]="new_password_confirm"><br>
    <small class="text-danger" *ngIf="new_password != new_password_confirm">Les deux mots de passe ne sont pas identiques</small><br>
    <button class="btn btn-primary px-2 my-1" (click)="onPasswordChanged(new_password)">
        Enregistrer les modifications
    </button>
</div>