      <section class="overflow-hidden position-relative">
        <section class="Accueil_Intro  ms-sm-5 position-relative">
            <div class="accueil_main m-auto row flex-column-reverse flex-sm-row  ">
                <div class="text_accueil text-center px-5 text-sm-start p-sm-0 col-12 col-sm-4 justify-content-around">
                    <h1 class="titre_accueil">Faites vous Plaisir</h1>
                    <p class="py-4">
                        Découvrez notre sélection de vêtements et accessoires tendance à prix mini.
                        Explorez notre collection et trouvez votre prochain coup de cœur !
                    </p>
                    <button [routerLink]="['/produits']" class="bg-black bt_accueil">Achetez Maintenant</button>
                </div>
                <div class="img_accueil col-12 col-sm-8">
                    <img ngSrc="../../assets/img/incendiary-fantastically-beautiful-girl-coat-eco-fur-moves-fun-picture-lovely-lady-pink-clothes-removebg-preview 1.png" fill priority alt="" srcset="">
                </div>
            </div>
            <div class="accueil_networks text-center py-5">
                <h2 class="pb-2">Nous suivre sur les reseaux</h2>
                <div>
                    <img ngSrc="../../assets/img/5296499_fb_facebook_facebook logo_icon.png" width="40" height="40" alt="" srcset="">
                    <img class="mx-3" ngSrc="../../assets/img/5296765_camera_instagram_instagram logo_icon.png" width="40" height="40" alt="" srcset="">
                    <img ngSrc="../../assets/img/6929232_logo_whatsapp_icon.png" width="40" height="40" alt="" srcset="">
                </div>
            </div>
            <img id="first_floating" class="position-absolute floating_object" src="../../assets/img/pngwing.com (1).png" alt="" srcset="">
            <img id="second_floating" class="position-absolute floating_object" src="../../assets/img/pngwing.com (9).png" alt="" srcset="">
            <img id="third_floating" class="position-absolute floating_object" src="../../assets/img/pngwing.com.png" alt="" srcset="">
            <img id="fourth_floating" class="position-absolute floating_object" src="../../assets/img/pngwing.com (10).png" alt="" srcset="">
        
        </section>
        <section class="marques">
            <div class="w-100">
              <h2 class="text-center">Les meilleures marques</h2>
              <div class="brand-slider">
                <div class="brand-track">
                  <img src="../../assets/img/pngegg (10).png" alt="Marque 1" loading="lazy">
                  <img  class="polo_icon" src="../../../assets/img/polo.png" alt="Marque 2" loading="lazy">
                  <img src="../../assets/img/pngegg (8).png" alt="Marque 3" loading="lazy">
                  <img src="../../assets/img/pngegg (13).png" alt="Marque 4" loading="lazy">
                  <img  class="polo_icon" src="../../assets/img/pngegg (12).png" alt="Marque 5" loading="lazy">
                  <img src="../../assets/img/pngegg (11).png" alt="Marque 6" loading="lazy">
                  <!-- Répétition des images -->
                  <img src="../../assets/img/pngegg (10).png" alt="Marque 1" loading="lazy">
                  <img  class="polo_icon" src="../../../assets/img/polo.png" alt="Marque 2" loading="lazy">
                  <img src="../../assets/img/pngegg (8).png" alt="Marque 3" loading="lazy">
                  <img src="../../assets/img/pngegg (13).png" alt="Marque 4" loading="lazy">
                  <img  class="polo_icon" src="../../assets/img/pngegg (12).png" alt="Marque 5" loading="lazy">
                  <img src="../../assets/img/pngegg (11).png" alt="Marque 6" loading="lazy">
                  <img src="../../assets/img/pngegg (10).png" alt="Marque 1" loading="lazy">
                  <img class="polo_icon" src="../../../assets/img/polo.png" alt="Marque 2" loading="lazy">
                  <img src="../../assets/img/pngegg (8).png" alt="Marque 3" loading="lazy">
                  <img src="../../assets/img/pngegg (13).png" alt="Marque 4" loading="lazy">
                  <img  class="polo_icon" src="../../assets/img/pngegg (12).png" alt="Marque 5" loading="lazy">
                  <img src="../../assets/img/pngegg (11).png" alt="Marque 6" loading="lazy">
                  <img src="../../assets/img/pngegg (10).png" alt="Marque 1" loading="lazy">
                  <img  class="polo_icon" src="../../../assets/img/polo.png" alt="Marque 2" loading="lazy">
                  <img src="../../assets/img/pngegg (8).png" alt="Marque 3" loading="lazy">
                  <img src="../../assets/img/pngegg (13).png" alt="Marque 4" loading="lazy">
                  <img  class="polo_icon" src="../../assets/img/pngegg (12).png" alt="Marque 5" loading="lazy">
                  <img src="../../assets/img/pngegg (11).png" alt="Marque 6" loading="lazy">
                </div>
              </div>
            </div>
          </section>
          <section class="nouveautes my-5">
            <h2 class="nouveautes__title text-center mb-4">Decouvrez nos Articles</h2>
            <div class="nouveautes__container">
              @if (products_list.length > 0) {
                <div class="nouveautes__list">
                  @for (item of products_list; track $index) {
                    <a [routerLink]="['/produits', item.slug]" class="product-card">
                      <div class="product-card__image-container">
                        <img [ngSrc]="item.images[0].image" fill [alt]="item.nom" class="product-card__image">
                      </div>
          
                      <div class="product-card__info">
                        <h3 class="product-card__title">{{item.nom}}</h3>
                        <p class="product-card__price">{{item.prix}} FCFA</p>
                      </div>
                    </a>
                  }
                </div>
                <div class="related-products__action text-center">
                  <button [routerLink]="['/produits']" class="btn btn--outline">Voir plus</button>
                </div>
              } @else {
                <div class="empty-state">
                  <div class="empty-state__content">
                    <svg xmlns="http://www.w3.org/2000/svg" class="empty-state__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M21 5H3v14h18V5zM3 9h18M9 5v14"/>
                    </svg>
                    <p class="empty-state__message">Aucun produit disponible pour le moment</p>
                    <p class="empty-state__sub-message">Revenez plus tard pour découvrir nos offres</p>
                  </div>
                </div>
              }
            </div>
          </section>
        <section class="nouveautes my-5">
          <h2 class="nouveautes__title text-center mb-4">Produits speciaux</h2>
          <div class="nouveautes__container">
            @if (special_list.length > 0) {
              <div class="nouveautes__list">
                @for (item of special_list; track $index) {
                  <a [routerLink]="['/produits', item.slug]" class="product-card">
                    <div class="product-card__image-container">
                      <img [ngSrc]="item.images[0].image" fill [alt]="item.nom" class="product-card__image">
                    </div>
        
                    <div class="product-card__info">
                      <h3 class="product-card__title">{{item.nom}}</h3>
                      <p class="product-card__price">{{item.prix}} FCFA</p>
                    </div>
                  </a>
                }
              </div>
              <div class="related-products__action text-center">
                <button [routerLink]="['/produits']" class="btn btn--outline">Voir plus</button>
              </div>
            } @else {
              <div class="empty-state">
                <div class="empty-state__content">
                  <svg xmlns="http://www.w3.org/2000/svg" class="empty-state__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 5H3v14h18V5zM3 9h18M9 5v14"/>
                  </svg>
                  <p class="empty-state__message">Aucun produit spécial disponible pour le moment</p>
                  <p class="empty-state__sub-message">Revenez plus tard pour découvrir nos offres spéciales</p>
                </div>
              </div>
            }
          </div>
        </section>
    <!-- <section class="Contacts pb-5 pt-3">
        <div class="contact_head my-5">
            <h1 class="contact_title text-center">Contacts</h1>
            <p class="text-center mx-3">
                Vous pouvez nous joindre via les moyens suivants.
                N'hésitez pas à nous contacter.
            </p>
        </div>
        <div class="contact_box_main text-center row w-75 m-auto justify-content-between">
            <div class="contact_box my-2 py-3 col-12 col-md-3 ">
                <div>RESEAUX</div>
                <div class="contact_box_networks">
                    <img class="mx-lg-auto" ngSrc="../../assets/img/5296499_fb_facebook_facebook logo_icon.png" width="40" height="40" alt="" srcset="">
                    <img class="mx-3" ngSrc="../../assets/img/5296765_camera_instagram_instagram logo_icon.png" width="40" height="40" alt="" srcset="">
                    <img class="mx-lg-auto" ngSrc="../../assets/img/6929232_logo_whatsapp_icon.png" width="40" height="40" alt="" srcset="">
                </div>
            </div>
            <div class="contact_box  my-2 py-3 col-12 col-md-3">
                <div><img class="mx-lg-auto" ngSrc="../../assets/img/9110984_call_phone_icon.png" width="40" height="40" alt="" srcset=""></div>
                <div>
                    <a style="color: inherit;" class="text-decoration-none" href="tel:+221784346017">+221 78 434 60 17</a></div>
    
            </div>
            <div class="text-center mt-4">
              <button class="nouveautes__button">Voir plus</button>
            </div>
    </div>
        </section> -->
        <section class="categories" *ngIf="catagorie_list.length">
            <div class="">
              <h2 class="categories-title">Catégories</h2>
              <div class="categories-list">
                @for (item of catagorie_list; track $index) {
                  <a [routerLink]="['/produits/categorie', item.slug]" class="category-item">
                    <div class="category-image">
                      <img [ngSrc]="item.image" alt="{{item.nom}}" width="150" height="150" class="rounded-circle">
                    </div>
                    <div class="category-name">{{item.nom}}</div>
                  </a>
                }
              </div>
    
        </div>
    </section>
    
    
        <section class="contacts">
            <div class="container">
              <div class="contacts-header">
                <h2 class="contacts-title">Contacts</h2>
                <p class="contacts-description">
                  Vous pouvez nous joindre via les moyens suivants.
                  N'hésitez pas à nous contacter.
                </p>
              </div>
              <div class="contact-boxes">
                <div class="contact-box">
                  <h3 class="box-title">Réseaux sociaux</h3>
                  <div class="social-icons">
                    <a href={{infos?.Lien_facebook}} target="_blank" aria-label="Facebook">
                      <img ngSrc="../../assets/img/5296499_fb_facebook_facebook logo_icon.png" width="40" height="40" alt="Facebook">
                    </a>
                    <a [href]="infos?.Lien_instagram" target="_blank" aria-label="Instagram">
                      <img ngSrc="../../assets/img/5296765_camera_instagram_instagram logo_icon.png" width="40" height="40" alt="Instagram">
                    </a>
                    <a [href]="infos?.Lien_Whatsapp" target="_blank"
                    aria-label="WhatsApp">
                      <img ngSrc="../../assets/img/6929232_logo_whatsapp_icon.png" width="40" height="40" alt="WhatsApp">
                    </a>
                  </div>
                </div>
                <div class="contact-box">
                  <h3 class="box-title">Téléphone</h3>
                  <div class="contact-info">
                    <img ngSrc="../../assets/img/9110984_call_phone_icon.png" width="40" height="40" alt="Téléphone">
                    <a href="tel:{{infos?.telephone_site}}">{{infos?.telephone_site}}</a>
                  </div>
                </div>
                <div class="contact-box">
                  <h3 class="box-title">Email</h3>
                  <div class="contact-info">
                    <img ngSrc="../../assets/img/8155538_email_mail_message_talk_envelope_icon.png" width="40" height="40" alt="Email">
                    <a href="mailto:{{infos?.addresse_mail_site}}">{{infos?.addresse_mail_site?.substring(0,5)}}...&#64;gmail.com</a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        
        <section class="testimonials" *ngIf="avis_list.length">
            <div class="container">
              <div class="testimonials-header">
                <h2 class="testimonials-title">Témoignages</h2>
                <p class="testimonials-description">Voici ce que nos clients partagent à propos de leurs achats chez nous. Chaque expérience est unique, et leurs avis nous aident à nous améliorer.</p>
              </div>
              <div class="testimonials-list">
                @for (item of avis_list.slice(-3); track $index) {
                  <div class="testimonial-item">
                    <div class="testimonial-content">
                      <p class="testimonial-text">"{{item.Texte_avis}}"</p>
                    </div>
                    <div class="testimonial-author">
                      <span class="author-name">{{item.Avis_author.nom_complet}}</span>
                    </div>
                  </div>
                }
              </div>
              <div class="testimonials-action">
                <button [routerLink]="['/avis']" class="btn-more">Voir plus</button>
              </div>
            </div>
        </section>
        
        <section class="info-section">
            <div class="container">
              <div class="info-grid">
                <div class="info-box">
                  <div class="info-icon">
                    <img ngSrc="../../assets/img/delivery_truck.png" width="50" height="50" alt="Livraison">
                  </div>
                  <h3 class="info-title">Livraison Fiable</h3>
                  <p class="info-description">Nous livrons à Dakar, par zone et dans les régions</p>
                </div>
                <div class="info-box">
                  <div class="info-icon">
                    <img ngSrc="../../assets/img/8665523_layer_group_icon.png" width="50" height="50" alt="Groupage">
                  </div>
                  <h3 class="info-title">Groupage d'articles</h3>
                  <p class="info-description">Vous pouvez faire groupage de 5 à 6 articles pour vous faciliter la livraison</p>
                </div>
                <div class="info-box">
                  <div class="info-icon">
                    <img ngSrc="../../assets/img/8665889_shirt_clothes_icon.png" width="50" height="50" alt="Arrivage">
                  </div>
                  <h3 class="info-title">Arrivage du Lundi au Samedi</h3>
                  <p class="info-description">On poste les articles à 19h les jours de la semaine et 18h les samedis</p>
                </div>
                <div class="info-box">
                  <div class="info-icon">
                    <img ngSrc="../../assets/img/9110984_call_phone_icon.png" width="50" height="50" alt="Disponibilité">
                  </div>
                  <h3 class="info-title">Disponible de 11h à 19h 7j/7</h3>
                  <p class="info-description">Récupérez vos articles tous les jours</p>
                </div>
              </div>
            </div>
          </section>
    </section>