<section class="produit_detail my-4 position-relative overflow-hidden">
    <img src="../../../assets/img/6445.jpg" class="bg_home" alt="" srcset="">
  <div class="produit_detail_main row justify-content-between">
      <div class="produit_img d-none d-sm-flex col-md-6 row col-12 d-flex flex-column flex-sm-row">
          @for (item of product_selected?.images; track item) {
              <div class="p-2 col-6">
                  <img class="" src={{item.image}} alt="" srcset="">
              </div>
          }
      </div>
        <p-carousel 
  [value]="list_p"
  [circular]="true" 
  [showIndicators]="false"
  [responsiveOptions]="responsiveOptions"
   class="pcaroussel d-flex d-sm-none">
      <ng-template let-item pTemplate="item">
              <div class="d-flex">
                  <img class="w-100" src={{item.image}} alt="" srcset="">
              </div>
          <img class="w-100" src={{item.previewImageSrc}} alt="" srcset="">
      </ng-template>
</p-carousel>
      <div class="produit_detail_specs col-md-5 col-12 d-flex flex-column justify-content-start my-5">
          <div class="specs_box mb-5">
              <div class="name_price_box">
                  <div class="produit_name">{{product_selected?.nom}}</div>
                  <div class="produit_price">{{product_selected?.prix}} FCFA</div>
              </div>
              <div class="size_comp_box d-flex justify-content-between">
                  @if (product_selected?.taille) {
                    <div class="produit_size">Taille : {{product_selected?.taille}}</div>
                  }
                  @else {
                    <div class="produit_size">Pointure : {{product_selected?.pointure}}</div>
                  }
                  <div class="produit_comp">Composition : {{product_selected?.composition}}</div>
              </div>
          </div>
          <div class="buy_order mb-5">
              <div class="d-flex justify-content-around">
                  <button class="add_cart_bt text-nowrap mb-3 mb-xl-0" (click)="addToCart()">Ajouter au panier</button>
                  <button class="buy_now_bt text-nowrap" (click)="acheterDirectement(product_selected?.slug)">Acheter directement</button>
              </div>
          </div>
          <div class="produit_categorie">CATEGORIE : {{product_selected?.categorie_detail?.nom}}</div>
      </div>
  </div>
</section>
<section class="nouveautes my-5">
    <h3 class="last_uploads_title text-center">Vous pourrez aussi aimer : </h3>
    <div class="nouveautes__container">
      <div class="nouveautes__list">
        @for (item of must_like_product; track $index) {
          <a [routerLink]="['/produits', item.slug]" class="product-card">
            <div class="product-card__image-container">
              <img [ngSrc]="item.images[0].image" fill [alt]="item.nom" class="product-card__image">
              <span class="product-card__badge">NEW</span>
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">{{item.nom}}</h3>
              <p class="product-card__price">{{item.prix}} FCFA</p>
            </div>
          </a>
        }
      </div>
    </div>
    <div class="text-center mt-4">
      <button class="nouveautes__button">Voir plus</button>
    </div>
</section>
