<section class="product_brand">
    <div class="brand text-center d-flex justify-content-center">
        <img class="paste-image-icon" src="../../assets/img/435688628_122141508104191964_5213991208487601928_n.jpg" alt="" srcset="">
        <div class="inner_brand">
            <div class="inner_brand_path">
                Accueil > <span class="inner_brand_current_location">Shop</span>
            </div>
            <div class="inner_brand_title">
                Boutique
            </div>
            <div class="inner_brand_desc">
                Des vetements et chaussures a bon prix.
            </div>
        </div>
    </div>
</section>