<section class="product_brand">
    <div class="brand text-center d-flex justify-content-center">
        <img class="paste-image-icon" src="../../assets/img/435688628_122141508104191964_5213991208487601928_n.jpg" alt="" srcset="">
        <div class="inner_brand">
            <div class="inner_brand_path">
                Accueil > <span class="inner_brand_current_location">Shop</span>
            </div>
            <div class="inner_brand_title">
                Boutique
            </div>
            <div class="inner_brand_desc">
                Des vetements et chaussures a bon prix.
            </div>
        </div>
    </div>
</section>
<section class="product">
    <div class="product_main d-flex flex-column flex-md-row justify-content-between align-items-center align-items-md-start">
        <div class="product_filter ">
            <h4 class="filter_title d-flex align-items-center my-4">
               <img src="../../assets/img/9104236_filter_setting_sort_configuration_icon.png" alt="" srcset=""> 
               Filtres
            </h4>
            <h4 class="my-4">CATEGORIES</h4>
            <ul>
                <li>Tous les Articles</li>
                <li>Chemises</li>
                <li>Pantalons</li>
                <li>Pull</li>
                <li>Costumes</li>
                <li>Lacoste</li>
                <li>Tee-shirt</li>
                <li>Chaussures</li> 
            </ul>
        </div>
        <div class="product_list row">
            <h4 class="my-5">Tous Les Produits</h4>
            @for (item of product; track item) {
                <div class="product_item col-6 col-xl-3 col-lg-3 p-1 p-sm-2">
                    <a [routerLink]="['/Produits', item.produitRef]" class="">
                        <div class="product_item_img">
                            <img src={{item.produitImage[0]}} alt="" srcset="">
                        </div>
                        <div class="product_item_infos">
                            <div class="product_item_name">{{ item.produitNom }}</div>
                            <div class="product_item_price">{{ item.produitPrix }}</div>
                        </div>
                        
                    </a>
                </div>
            }
            
        </div>
    </div>
</section>