<div class="admin-orders">
	<h1>Commandes</h1>
	<div class="filters">
	  <input type="text" [(ngModel)]="searchTerm" 
	  placeholder="Rechercher par numéro ou client" 
	  class="search-input " style="width:auto;min-width: 280px;"
	  (input)="onSearch()"
	  >
	  <div class="d-flex align-items-center ">
		<span class="d-inline-block me-3 ">Filtrer par Statut : </span>
		<select [(ngModel)]="statutFiltre" class="filter-select" style="cursor:pointer" (change)="loadCommandes()">
			<option value="">----------</option>
			<option value="EN_ATTENTE">En attente</option>
			<option value="EN_COURS_LIVRAISON">En cours de livraison</option>
			<option value="LIVREE">Livrée</option>
			<option value="delivered">Livré</option>
		</select>
	</div>
	<div class="d-flex align-items-center">
		<span class="d-inline-block me-3 ">Choisir une date</span>
		<input [(ngModel)]="dateFilter" type="date" class="date-input" style="cursor:pointer"(ngModelChange)="onDateFilterChange($event)">
	</div>
	</div>
	<div class="table-container">
	<table class="orders-table">
	  <thead>
		<tr>
		  <th>Numéro</th>
		  <th>Client</th>
		  <th>Commandé le</th>
		  <th>Montant ( en frcs)</th>
		  <th>zone de livraison</th>
		  <th>Statut</th>
		  <th>Livré le</th>
		  <th class="actions-header">Actions</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let commande of commandes">
		  <td [innerHTML]="highlightText(commande.ref_code)"></td>
		  <td>
			<span [innerHTML]="highlightText(commande.client.nom_complet)"></span><br>
			<span class="text-center" [innerHTML]="highlightText(commande.client.phone_number)"></span>
		  </td>
		  <td>{{commande.date_commande | date : 'dd MMMM YYYY'}}</td>
		  <td class="text-center text-primary fw-bold">{{ commande.montant }} frcs</td>
		  <td *ngIf="commande.zone_livraison">Zone {{commande.zone_livraison.numero}} : {{commande.zone_livraison.nom}}</td>
		  <td *ngIf="!commande.zone_livraison">Récupéré au magasin</td>
		  <td><span class="status pending">{{commande.statut.toString()}}</span></td>
		  <td *ngIf="commande.date_livraison">{{commande.date_livraison | date : 'dd MMMM YYYY'}}</td>
		  <td *ngIf="!commande.date_livraison" class="text-center">---</td>
		  <td class="actions-cell">
			<button class="action-btn view" >
				<a class="w-100 h-100 text-decoration-none" style="color:inherit" [routerLink]="['/mdj_admin/commande',commande.ref_code]">Voir</a>
			</button>
			<button class="action-btn edit" >Modifier</button>
		  </td>
		</tr>
</tbody>
	</table>
	<p class="alert alert-warning" *ngIf="!commandes.length && isLoading === false">
		Aucune commande trouvée.
	</p>
</div>
	<div class="pagination">
	  <button class="page-btn me-2">&lt;</button>
	  <span>Page {{page}} sur {{totalPage}}</span>
	  <button class="page-btn ms-2">&gt;</button>
	</div>
  </div>
