

.btn-livree{
  background-color: blue;
  color:white;
}

.btn-payee{
  background-color: green;
  color:white;
}

.btn-en_attente{
  background-color: black;
  color:white;
}

.btn-en_cours_livraison{
  background-color: yellow;
  color:black;
}