<section class="Header">
    <nav class="navbar ps-5 d-flex">
      <a [routerLink]="['']"  class="navbar-brand">Le Monde Des Jeans</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img class="burger_menu_header" src="../../assets/img/9666699_menu_burger_horizontal_icon.png" alt="" srcset="">
      </button>
      <div class="collapse navbar-collapse d-lg-none" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center align-items-center m-auto">
          <a [routerLink]="['']" data-toggle="collapse" data-target="#navbarSupportedContent"><li class="my-2">Accueil</li></a>
          <a [routerLink]="['/produits']" data-toggle="collapse" data-target="#navbarSupportedContent"><li class="my-2">Produits</li></a>
          <a [routerLink]="['/avis']" data-toggle="collapse" data-target="#navbarSupportedContent"><li class="my-2">Avis</li></a>
          <a class="whatsapp_link_header text-nowrap my-2" target="_blank"
             href="{{infos?.Lien_Whatsapp}}" data-toggle="collapse" data-target="#navbarSupportedContent">
             Groupe Whatsapp
            <img class="header_whatsapp" src="../../assets/img/6929232_logo_whatsapp_icon.png" alt="whatsapp">
          </a>
        </ul>
        <div class="justify-content-center gap-1 justify-content-md-between left_nav_sec d-flex text-center flex-wrap align-items-center">
          <div class="user_profile_header me-5">
            <button class="border text-nowrap d-flex align-items-center">
              <img class="user_icon_header" src="../../assets/img/285645_user_icon.png" alt="">
              <div class="dropdown border-0 bg-transparent" *ngIf="is_authenticated">
                <button class="btn text-dark border-0 shadow-none dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentUser?.nom_complet?.substring(0,6)}}...
                </button>
                <ul class="dropdown-menu p-2 ms-0">
                  <li><a class="dropdown-item" routerLink="/profile" data-toggle="collapse" data-target="#navbarSupportedContent">Voir Profil</a></li>
                  <li><a class="dropdown-item" (click)="logout()" data-toggle="collapse" data-target="#navbarSupportedContent">Se déconnecter</a></li>
                </ul>
              </div>
              <span *ngIf="!is_authenticated"><a (click)="navigateTo()" data-toggle="collapse" data-target="#navbarSupportedContent">Se Connecter</a></span>
            </button>
          </div>
          @if(is_authenticated){
            <div class="user_profile_cart">
              <button class="border d-flex bt_card">
                <div class="cart_header">
                  <img class="cart_header_img" src="../../assets/img/commandes-header-icon.png">
                </div>
                <span class="text-nowrap" ><a [routerLink]='["/mes-commandes"]' data-toggle="collapse" data-target="#navbarSupportedContent">Mes Commandes</a></span>
              </button>
            </div>
            <div class="user_profile_cart">
              <button class="border d-flex bt_card">
                <div class="cart_header">
                  <img class="cart_header_img" src="../../assets/img/8666616_shopping_cart_icon.png">
                </div>
                <span class="text-nowrap" ><a [routerLink]="['/panier']" data-toggle="collapse" data-target="#navbarSupportedContent">panier</a></span>
              </button>
            </div>
          }
        </div>
      </div>
      <div class="d-none d-lg-flex right_nav_sec  align-items-center justify-content-around">
        <ul class="d-flex list-unstyled justify-content-between align-items-center">
          <a [routerLink]="['']" ><li>Accueil</li></a>
          <a [routerLink]="['/produits']"><li>Produits</li></a>
          <a [routerLink]="['/avis']"><li>Avis</li></a>
          <a class="whatsapp_link_header text-nowrap" target="_blank"
             href="{{infos?.Lien_Whatsapp}}"  rel="noopener noreferrer">
            Groupe Whatsapp <img class="header_whatsapp" src="../../assets/img/6929232_logo_whatsapp_icon.png">
</a>
        </ul>
        <div class="d-flex justify-content-between gap-2 left_nav_sec align-items-center">
          <div class="user_profile_header ">
            <button class="border text-nowrap d-flex align-items-center">
              <img class="user_icon_header" src="../../assets/img/285645_user_icon.png" alt="">
              <div class="dropdown border-0 bg-transparent" *ngIf="is_authenticated">
                <button class="btn text-dark border-0 shadow-none dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentUser?.nom_complet?.substring(0,6)}}...
                </button>
                <ul class="dropdown-menu p-2 ms-0">
                  <li><a class="dropdown-item" routerLink="/profile">Voir Profil</a></li>
                  <li><a class="dropdown-item" (click)="logout()">Se déconnecter</a></li>
                </ul>
              </div>
              <span *ngIf="!is_authenticated"><a (click)="navigateTo()">Se Connecter</a></span>
            </button>
          </div>
          @if(is_authenticated){
            <div class="user_profile_cart">
              <button class="border d-flex bt_card">
                <div class="cart_header">
                  <img class="cart_header_img" src="../../assets/img/8666616_shopping_cart_icon.png">
                </div>
                <span class="text-nowrap" ><a  [routerLink]="['/panier']">panier</a></span>
              </button>

            </div>
            <div class="user_profile_cart">
              <button class="border d-flex bt_card">
                <div class="cart_header">
                  <img class="cart_header_img" src="../../assets/img/commandes-header-icon.png">
                </div>
                <span class="text-nowrap" ><a  [routerLink]="['/mes-commandes']">Mes Commandes</a></span>
              </button>
            </div>
          }
        </div>
      </div>
    </nav>
</section>

