<section class="Header">
    <nav class="navbar ps-5 d-flex">
      <a href="" class="navbar-brand">Le Monde Des Jeans</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img class="burger_menu_header" src="../../assets/img/9666699_menu_burger_horizontal_icon.png" alt="" srcset="">
      </button>
      <div class="collapse navbar-collapse d-sm-none" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center align-items-center m-auto">
          <a href=""><li class="my-2">Accueil</li></a>
          <a [routerLink]="['/produits']"><li  class="my-2">Produits</li></a>
          <a href=""><li  class="my-2">Contacts</li></a>
          <a class="whatsapp_link_header text-nowrap my-2" href="">Notre Groupe Whatsapp <img class="header_whatsapp" src="../../assets/img/6929232_logo_whatsapp_icon.png"></a>
        </ul>
        <div class="justify-content-between left_nav_sec d-flex text-center align-items-center">
          <div class="user_profile_header me-5">
            <button class="border text-nowrap d-flex align-items-center">
              <img class="user_icon_header" src="../../assets/img/285645_user_icon.png" alt="">
              <div class="dropdown border-0 bg-transparent" *ngIf="is_authenticated">
                <button class="btn text-dark border-0 shadow-none dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentUser?.nom_complet?.substring(0,15)}}
                </button>
                <ul class="dropdown-menu p-2 ms-0">
                  <li><a class="dropdown-item" routerLink="/profile">Voir Profil</a></li>
                  <li><a class="dropdown-item" href="#" (click)="logout()">Se déconnecter</a></li>
                </ul>
              </div>
              <span *ngIf="!is_authenticated"><a routerLink="/login">Se Connecter</a></span> 
            </button>
          </div>
          <div class="user_profile_cart">
            <button class="border d-flex bt_card">
              <div class="cart_header">
                <img class="cart_header_img" src="../../assets/img/8666616_shopping_cart_icon.png">
              </div>
              <span class="text-nowrap" ><a href="/panier">Mes commandes</a></span>
            </button>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-flex right_nav_sec  align-items-center justify-content-around">
        <ul class="d-flex list-unstyled justify-content-between align-items-center">
          <a href=""><li>Accueil</li></a>
          <a [routerLink]="['/produits']"><li>Produits</li></a>
          <a href=""><li>Contacts</li></a>
          <a class="whatsapp_link_header text-nowrap" href="">Notre Groupe Whatsapp <img class="header_whatsapp" src="../../assets/img/6929232_logo_whatsapp_icon.png"></a>
        </ul>
        <div class="d-flex justify-content-between left_nav_sec">
          <div class="user_profile_header me-5">
            <button class="border text-nowrap d-flex align-items-center">
              <img class="user_icon_header" src="../../assets/img/285645_user_icon.png" alt="">
              <div class="dropdown border-0 bg-transparent" *ngIf="is_authenticated">
                <button class="btn text-dark border-0 shadow-none dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{currentUser?.nom_complet?.substring(0,10)}}
                </button>
                <ul class="dropdown-menu p-2 ms-0">
                  <li><a class="dropdown-item" routerLink="/profile">Voir Profil</a></li>
                  <li><a class="dropdown-item" href="#" (click)="logout()">Se déconnecter</a></li>
                </ul>
              </div>
              <span *ngIf="!is_authenticated"><a routerLink="/login">Se Connecter</a></span> 
            </button>
          </div>
          <div class="user_profile_cart">
            <button class="border d-flex bt_card">
              <div class="cart_header">
                <img class="cart_header_img" src="../../assets/img/8666616_shopping_cart_icon.png">
              </div>
              <span class="text-nowrap" ><a href="/panier">Mes commandes</a></span>
            </button>
          </div>
        </div>
      </div>
    </nav>
</section>