  <div class="container-fluid px-4 py-1">
    <div class="card mb-4 bg-primary text-white">
      <div class="card-body px-4 py-1">
        <h1 class="display-6">Tableau de Bord</h1>
        <p class="lead mb-0">{{ currentDate }}</p>
      </div>
    </div>

    @if (isLoading){
      <div class="d-flex justify-content-center align-items-center">
      <div class="spinner-border fs-3 text-primary" role="status">
        <span class="visually-hidden">Chargement...</span>
      </div>
      </div>
    } @else {
      <div class="row g-4 mb-4">
        <div class="col-12 col-md-6 col-xl-3">
          <div class="card h-100 border-0 shadow-sm">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 bg-primary bg-opacity-10 p-3 rounded">
                  <i class="bi bi-currency-dollar fs-2 text-primary"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="text-muted mb-1">Ventes Totales</h6>
                  <h4 class="mb-0">{{ formatAmount(kpi.ventes_totales)}} FCFA</h4>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="card h-100 border-0 shadow-sm">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 bg-success bg-opacity-10 p-3 rounded">
                  <i class="bi bi-box fs-2 text-success"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="text-muted mb-1">Commandes</h6>
                  <h3 class="mb-0">{{kpi.nombre_commandes}}</h3>
                  <span class="badge bg-success">{{kpi.nombre_nouvelles_commandes}} cette semaine</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="card h-100 border-0 shadow-sm">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 bg-info bg-opacity-10 p-3 rounded">
                  <i class="bi bi-people fs-2 text-info"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="text-muted mb-1">Clients</h6>
                  <h3 class="mb-0">{{kpi.nombre_clients}}</h3>
                  <span class="badge bg-success">+{{kpi.nombre_nouveau_clients}} nouveaux</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
          <div class="card h-100 border-0 shadow-sm">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0 bg-warning bg-opacity-10 p-3 rounded">
                  <i class="bi bi-tag fs-2 text-warning"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="text-muted mb-1">Produits</h6>
                  <h3 class="mb-0">{{kpi.nombre_produits}}</h3>
                  <span class="badge bg-danger">{{kpi.nombre_produits_en_rupture_de_stock}} en rupture</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-4 mb-4">
        <div class="col-12 col-xl-8">
          <div class="position-relative h-100" style="min-height: 400px;">
            <img
              src="assets/img/commande_admin_page.png"
              alt="Commande admin page"
              class="position-absolute w-100 h-100"
              style="object-fit: cover; object-position: center;"
            >
          </div>
        </div>

        <div class="col-12 col-xl-4">
          <div class="card border-0 shadow-sm h-100">
            <div class="card-header bg-transparent border-0">
              <h5 class="card-title mb-0">État des Commandes</h5>
            </div>
            <div class="card-body">
              @for(status of kpi.commandes_par_statut; track status) {
                <div class="mb-4">
                  <div class="d-flex justify-content-between mb-1">
                    <span>{{ status.label }}</span>
                    <span>{{ status.count }}</span>
                  </div>
                  <div class="progress" style="height: 10px">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [style.width.%]="status.percentage">
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
