<section class="testimonials-section">
  <div class="container">
    <header class="testimonials-header">
      <h2 class="testimonials-count">{{Avis.length}} témoignages</h2>
    </header>
    <div class="testimonials-list">
      @for (item of Avis; track $index) {
        <article class="testimonial-card">
          <div class="testimonial-content">
            <div class="star-rating">
              @for (star of [1,2,3,4,5]; track $index) {
                  <i class="bi bi-star-fill" [ngClass]="star <= item.nbre_etoiles ? 'product_star' : 'product_star_empty'"></i>
              }
            </div>
            <p class="testimonial-text">{{item.Texte_avis}}</p>
            <div class="testimonial-footer">
              <div>
                <div class="testimonial-author">
                  <strong>{{item.Avis_author.nom_complet}}</strong>
                </div>
                <div class="date-info">
                  {{item.temoigne_le }}
                </div>
              </div>
            </div>
          </div>
        </article>
      }
    </div>
  </div>
  <div *ngIf="Avis.length" class="flex flex-col md:flex-row items-center justify-between gap-4 p-4 bg-white rounded-lg shadow-sm">
    <!-- Pagination Controls -->
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
      [boundaryLinks]="true"
      [maxSize]="5"
      aria-label="Navigation des pages"
      class="pagination-custom">
    </ngb-pagination>
  
    <!-- Total Items Counter -->
    <p class="text-sm font-medium text-gray-600">
      <span class="font-bold text-gray-800">{{totalItems}}</span> Avis au total
    </p>
  </div>
</section>