<div class="container-fluid px-4">

    <h2 class="d-flex align-items-center gap-2">
        <img src="/assets/img/transaction-icone.png" alt="Illustration transaction" class="img-fluid mb-3 " style="max-height: 150px;">
        <span class="reviews-title ">Gestion des Paiements</span>
    </h2>

    <div class="d-flex align-items-center justify-content-end px-4">
      <button class="btn btn-dark px-3 py-2 text-white" (click)="loadPaymentKPI();loadPayment()">Filtrer</button>
    </div>
    <div class="card border-0 shadow-sm mb-4">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-3">
            <label class="form-label">Méthode de paiement</label>
            <select class="form-select" [(ngModel)]="selectedMethod">
              <option value="">Toutes les méthodes</option>
              <option value="ORANGE_MONEY">Orange Money</option>
              <option value="WAVE">Wave</option>
              <option value="CC">Carte de crédit</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label">Date début</label>
            <input type="date" class="form-control" [(ngModel)]="startDate">
          </div>
          <div class="col-md-3">
            <label class="form-label">Date fin</label>
            <input type="date" class="form-control" [(ngModel)]="endDate">
          </div>
          <div class="col-md-3">
            <label class="form-label">Montant minimum</label>
            <input type="number" class="form-control" [(ngModel)]="minAmount">
          </div>

        </div>
      </div>
    </div>

    <!-- Stats Cards -->
  @if (isKpiLoading) {
    <tr>
      <td colspan="8" class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Chargement...</span>
        </div>
      </td>
    </tr>
  } @else {
    <div class="row g-4 mb-4">
      <div class="col-md-3">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body">
            <h6 class="text-muted">Total Paiements</h6>
            <h3 class="mb-0">{{ formatAmount(kpi.total_paiement) }} FCFA</h3>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body">
            <h6 class="text-muted d-flex justify-content-center align-items-center my-0 py-0">
                <img src="/assets/img/orange-money.jpg" alt="Illustration transaction" class="img-fluid mb-3 " style="max-height: 50px;max-width: 50px;">
            </h6>
            <h3 class="mb-0">{{ formatAmount(kpi.paiement_par_om) }} FCFA</h3>
            <div class="progress mt-2" style="height: 5px">
              <div class="progress-bar bg-om" style="width: 55%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body">
            <h6 class="text-muted d-flex justify-content-center align-items-center my-0 py-0">
                <img src="/assets/img/wave.png" alt="Illustration transaction" class="img-fluid mb-3 " style="max-height: 50px;max-width: 50px;">
            </h6>
            <h3 class="mb-0">{{ formatAmount(kpi.paiement_par_wave) }} FCFA</h3>
            <div class="progress mt-2" style="height: 5px">
              <div class="progress-bar bg-info" style="width: 35%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-body">
            <!-- <h6 class="text-muted">Carte de crédit</h6> -->
            <h6 class="text-muted d-flex justify-content-center align-items-center my-0 py-0">
                <img src="/assets/img/credit-card.jpeg" alt="Illustration transaction" class="img-fluid mb-3 " style="max-height: 50px;max-width: 50px;">
            </h6>
            <h3 class="mb-0">{{formatAmount(kpi.paiement_par_cb)}} FCFA</h3>
            <div class="progress mt-2" style="height: 5px">
              <div class="progress-bar bg-success" style="width: 15%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
    <!-- Payments Table -->
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead>
              <tr>
                <th>ID Transaction</th>
                <th>Commande Ref</th>
                <th>Client</th>
                <th>Montant</th>
                <th>Méthode</th>
                <th>Date</th>
                <th>État</th>

              </tr>
            </thead>
            <tbody>
              @if (isPLoading) {
                <tr>
                  <td colspan="8" class="text-center">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Chargement...</span>
                    </div>
                  </td>
                </tr>
              } @else {
                @if (payments.length) {
                  @for(payment of payments; track payment) {
                    <tr>
                      <td>{{ payment.id_transaction }}</td>
                      <td>
                        {{ payment.ref_commande }}
                      </td>
                      <td>{{ payment.client || '---' }}</td>
                      <td>{{ payment.montant }} FCFA</td>
                      <td>
                    <span [class]="getMethodeBadgeClass(payment.methode_paiement)">
                      {{ getMethodeLabel(payment.methode_paiement) }}
                    </span>
                      </td>
                      <td>{{ payment.date_paiement | date:'dd/MM/yyyy HH:mm' }}</td>
                      <td>
                        <span>{{ payment.statut }}</span>
                      </td>
                      <!--    <td>
                        <div class="btn-group">
                          <button class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-eye"></i>
                          </button>
                          <button class="btn btn-sm btn-outline-secondary">
                            <i class="bi bi-printer"></i>
                          </button>
                        </div>
                      </td>-->
                    </tr>
                  }
                } @else {
                    <div class="text-center px-3 w-100 py-2 my-3 alert alert-warning">
                      Aucun Paiement pour cette période
                    </div>
                }
              }

            </tbody>
          </table>
        </div>

        <!-- Pagination
        <nav class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
          </ul>
        </nav>
        -->
      </div>
    </div>
</div>
