<section class="container-md container-fluid position-relative align-items-center row mx-auto">
    <div class="col-6 h-50 mx-auto px-2 py-1 login-image">
      <img src="../../../../assets/img/men39s-clothes-hanger-generative-ai.jpg" alt="">
    </div>
    <div class="mx-auto col-10 col-sm-8 col-md-6 px-md-5 d-flex align-items-center justify-content-center">
      <form *ngIf="!otpSent" action="#" class="w-100 h-100 login position-relative" method='POST' (ngSubmit)="register()"
        [formGroup]="SignupForm">
        <h3 class="text-center mb-3">Créer un compte</h3>
        <p class="text-center">
          <a class="text-primary" style="text-decoration: none;" routerLink="/login">J'ai déjà un compte</a>
        </p>
        <div class="mb-3">
          <label for="nom_complet" class="form-label">Nom Complet</label>
          <input formControlName="nom_complet" type="text" class="form-control" id="nom_complet">
          <div *ngIf="SignupForm.controls['nom_complet'].invalid && (SignupForm.controls['nom_complet'].dirty || SignupForm.controls['nom_complet'].touched)">
            <small class="text-danger" *ngIf="SignupForm.controls['nom_complet'].hasError('required')">Ce champ est
              obligatoire.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label">Numéro de Téléphone</label>
          <input placeholder="+221 | " formControlName="phone_number" type="text" class="form-control" id="phone_number">
          <div *ngIf="SignupForm.controls['phone_number'].invalid && (SignupForm.controls['phone_number'].dirty || SignupForm.controls['phone_number'].touched)">
            <small class="text-danger"
              *ngIf="SignupForm.controls['phone_number'].hasError('validphoneNumber')">
              Le numéro de téléphone doit être un numéro sénégalais valide (ex: 771234567).

            </small>
            <small class="text-danger" *ngIf="SignupForm.controls['phone_number'].hasError('required')">Ce champ est
              obligatoire.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="addresse_mail" class="form-label">Adresse Email</label>
          <input formControlName="addresse_mail" type="email" class="form-control" id="addresse_mail">
          <div *ngIf="SignupForm.controls['addresse_mail'].invalid && (SignupForm.controls['addresse_mail'].dirty || SignupForm.controls['addresse_mail'].touched)">
            <small class="text-danger" *ngIf="SignupForm.controls['addresse_mail'].hasError('required')">Ce champ est
              obligatoire.</small>
            <small class="text-danger" *ngIf="SignupForm.controls['addresse_mail'].hasError('email')">Veuillez saisir une
              adresse email valide</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <div class="input-group">
            <input #input1 [type]="InputType" value="" formControlName="password" id="password" class="form-control"
              required="">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword(input1)">
              <i [class]="InputType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
          </div>
          <div *ngIf="SignupForm.controls['password'].invalid && (SignupForm.controls['password'].dirty || SignupForm.controls['password'].touched)">
            <small class="text-danger" *ngIf="SignupForm.controls['password'].hasError('required')">Ce champ est
              obligatoire.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password_confirm" class="form-label">Confirmer le mot de passe</label>
          <div class="input-group">
            <input #input2 [type]="InputType" value="" formControlName="password_confirm" id="password_confirm"
              class="form-control">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword(input2)">
              <i [class]="InputType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
          </div>
          <div *ngIf="SignupForm.controls['password_confirm'].invalid && (SignupForm.controls['password_confirm'].dirty || SignupForm.controls['password_confirm'].touched)">
            <small class="text-danger mb-2" *ngIf="SignupForm.controls['password_confirm'].hasError('matching')">
              Les mots de passe ne correspondent pas
            </small>
            <small class="text-danger" *ngIf="SignupForm.controls['password_confirm'].hasError('required')">Ce champ est
              obligatoire.</small>
          </div>
        </div>
        <div *ngIf="SignupError" class="text-danger text-center mb-3">{{ SignupError }}</div>
        <button type="submit" class="btn btn-primary w-100">Envoyer</button>
        <br><small class="d-block text-center mt-2">Vous recevrez un code de vérification sur votre addresse mail.</small>
      </form>
      <div *ngIf="otpSent">
        <h2>Vérification OTP</h2>
        <form method="post" (ngSubmit)="onVerifyOTP()">
          <div class="mb-3">
            <label for="otpCode" class="form-label">Code OTP:</label>
            <input type="text" id="otpCode" [(ngModel)]="otpCode" name="otpCode" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Vérifier</button>
        </form>
      </div>
    </div>
  </section>

  <div *ngIf="isloading" class="bg-dark bg-opacity-25 position-absolute d-flex align-items-center justify-content-center w-100" style="width:100vw;height:100vh ;top:0;left:0">
    <div id="wifi-loader">
        <svg class="circle-outer" viewBox="0 0 86 86">
            <circle class="back" cx="43" cy="43" r="40"></circle>
            <circle class="front" cx="43" cy="43" r="40"></circle>
            <circle class="new" cx="43" cy="43" r="40"></circle>
        </svg>
        <svg class="circle-middle" viewBox="0 0 60 60">
            <circle class="back" cx="30" cy="30" r="27"></circle>
            <circle class="front" cx="30" cy="30" r="27"></circle>
        </svg>
        <svg class="circle-inner" viewBox="0 0 34 34">
            <circle class="back" cx="17" cy="17" r="14"></circle>
            <circle class="front" cx="17" cy="17" r="14"></circle>
        </svg>
        <div class="text" data-text="Chargement..."></div>
    </div>
  </div>

