<div class="container-commandes">
    <h1>Mes Commandes</h1>
    
    <div class="tabs">
      <div class="tab-buttons">
        <button [class.active]="activeTab === 'pending'" (click)="activeTab = 'pending'">
            <i class="bi bi-box-seam"></i> En cours
        </button>
        <button [class.active]="activeTab === 'completed'" (click)="activeTab = 'completed'">
            <i class="bi bi-check-circle"></i> Historique
        </button>
      </div>
      
      <div class="tab-content" *ngIf="activeTab === 'pending'">
        <div class="order-card" *ngFor="let order of pendingOrders">
          <div class="order-header">
            <h2>Commande {{order.id}}</h2>
            <span class="status-badge" [ngClass]="getStatusClass(order.status)">
              {{getStatusLabel(order.status)}}
            </span>
          </div>
          <div class="order-date">Commandé le {{order.date}}</div>
          <div class="order-details">
            <div class="items">
              <strong>Articles:</strong>
              <ul>
                <li *ngFor="let item of order.items">{{item}}</li>
              </ul>
            </div>
            <div class="delivery-info">
              <i class="bi bi-truck"></i> {{order.deliveryAddress}}
            </div>
            <div class="delivery-time">
              <i class="bi bi-clock"></i> Livraison via DDK 218
            </div>
            <div class="order-total">
              Total: {{order.total}} FCFA
            </div>
          </div>
        </div>
        <p *ngIf="pendingOrders.length === 0" class="no-orders">
          Aucune commande en cours
        </p>
      </div>
      
      <div class="tab-content" *ngIf="activeTab === 'completed'">
        <!-- <div class="order-card" *ngFor="let order of completedOrders">
            <div class="order-header">
                <h2>Commande {{order.id}}</h2>
                <span class="status-badge" [ngClass]="getStatusClass(order.status)">
                  {{getStatusLabel(order.status)}}
                </span>
              </div>
              <div class="order-date">Commandé le {{order.date}}</div>
              <div class="order-details">
                <div class="items">
                  <strong>Articles:</strong>
                  <ul>
                    <li *ngFor="let item of order.items">{{item}}</li>
                  </ul>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-truck"></i> {{order.deliveryAddress}}
                </div>
                <div class="delivery-time">
                    <i class="bi bi-clock"></i> Livrée le 12 Octobre 2024
                </div>
                <div class="order-total">
                  Total: {{order.total}} FCFA
                </div>
              </div>
        </div> -->
        
        <div class="order-card" *ngFor="let order of mesCommandes">
            <div class="order-header">
                <h2>Commande {{order.id}}</h2>
                <span class="status-badge" [ngClass]="getStatusClass('en_cours')">
                  <!-- {{getStatusLabel(order.statut.toString())}} -->
                   En Attente
                </span>
              </div>
              <div class="order-date">Commandé le {{order.date_commande}}</div>
              <div class="order-details">
                <div class="items">
                  <strong>Articles:</strong>
                  <ul>
                    <li *ngFor="let item of order.produits">{{item.nom}}</li>
                  </ul>
                </div>
                <div class="delivery-info">
                    <i class="bi bi-truck"></i> {{order.zone_livraison}}
                </div>
                <div class="delivery-time">
                    <i class="bi bi-clock"></i> Livrée le {{order.date_livraison}}
                </div>
                <div class="order-total">
                  Total: {{order.total}} FCFA
                </div>
              </div>
        </div>
        <p *ngIf="completedOrders.length === 0" class="no-orders">
          Aucun historique de commande
        </p>
      </div>
    </div>
  </div>