<div class="container-commandes">
    <h1>Mes Commandes</h1>

    <div class="tabs">
      <div class="tab-buttons">
        <button [class.active]="activeTab === 'pending'" (click)="activeTab = 'pending'">
            <i class="bi bi-box-seam"></i> En cours
        </button>
        <button [class.active]="activeTab === 'completed'" (click)="activeTab = 'completed'">
            <i class="bi bi-check-circle"></i> Historique
        </button>
      </div>

      <div class="tab-content" *ngIf="activeTab === 'pending'">
        @if (isEncoursLoading){
            <ngx-skeleton-loader
              [count]="10"
              appearance="line"
              [theme]="{
                'width': '200px',
                'height': '200px',
                'margin': '10px',
                'background-color': '#f0f4f0',
                'border-radius': '8px'
              }">
            </ngx-skeleton-loader>
        } @else {
        @for (order of mesCommandesEnCours; track order.id) {
          <div class="order-card">
          <div class="order-header">
              <p class="fs-4">Commande N° <span class="fw-bold fs-3">{{order.ref_code}}</span></p>
              <span class="status-badge fw-bold status-{{ order.statut.toString() }}">
                {{order.statut}}
              </span>
            </div>
            <div class="order-date">Commandé le {{order.date_commande | date : 'dd MMMM YYYY'}}</div>
            <div class="order-details" *ngIf="order.produits.length">
              <div class="items">
                <strong>Articles:</strong>
                <ul>
                  <li *ngFor="let item of order.produits">{{item.slug}}</li>
                </ul>
              </div>
              <div class="delivery-info">
                @if (!order.recupere_magasin) {
                  <p>
                    <i class="bi bi-truck"></i> Zone {{order.zone_livraison?.numero}} : {{order.zone_livraison?.nom}}
                  </p>
                }@else {
                  <p>
                    <i class="bi bi-shop"></i> Récupéré au magasin
                  </p>
                }

              </div>
              <div class="delivery-time" *ngIf="order.date_livraison">
                  <i class="bi bi-clock"></i>
                  @if (!order.recupere_magasin) {
                    Livrée
                }@else {
                  Récupéré
                } le
                {{order.date_livraison | date : 'dd MMMM YYYY HH:mm'}}
              </div>
              <div *ngIf="order.statut === StatutCommande.EN_COURS_LIVRAISON ||  order.statut === StatutCommande.PAYEE">
                <input type="checkbox" name="" (change)="MarquerColisRecu(order.id, $event)" id="order.id">
                <label for="order.id" class="mx-1">Colis reçu</label>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <p class="text-center my-0 py-0" *ngIf="order.statut=='EN_ATTENTE'">
                  <button class="btn-success my-0 btn p-0" type="button">
                    <a [routerLink]="['/detail-commande']" class="m-0 p-3 shadow text-decoration-none text-white">Finaliser</a>
                  </button>
                </p>
                <div class="order-total">
                  Total: {{order.montant}} FCFA
                </div>
              </div>
            </div>
      </div>}
      @empty {
          <p class="no-orders">
            Aucune commande en cours
          </p>
      }
        }
      </div>

      <div class="tab-content" *ngIf="activeTab === 'completed'">
        @if (isHistoriqueLoading){
            <ngx-skeleton-loader
              [count]="10"
              appearance="line"
              [theme]="{
                'width': '200px',
                'height': '200px',
                'margin': '10px',
                'background-color': '#f0f4f0',
                'border-radius': '8px'
              }">
            </ngx-skeleton-loader>
        } @else {
        @for (order of mesCommandesLivrees; track order.id) {

          <div class="order-card">
              <div class="order-header">
                  <p class="fs-4">Commande N° <span class="fw-bold fs-3">{{order.ref_code}}</span></p>
                  <span class="status-badge status-{{ order.statut.toString() }}">
                    {{order.statut}}
                  </span>
                </div>
                <div class="order-date">Commandé le {{order.date_commande | date : 'dd MMMM YYYY'}}</div>
                <div class="order-details" *ngIf="order.produits.length">
                  <div class="items">
                    <strong>Articles:</strong>
                    <ul>
                      <li *ngFor="let item of order.produits">{{item.nom}}</li>
                    </ul>
                  </div>
                  <div class="delivery-info">
                    @if (!order.recupere_magasin) {
                      <p>
                        <i class="bi bi-truck"></i> Zone {{order.zone_livraison?.numero}} : {{order.zone_livraison?.nom}}
                      </p>
                    }@else {
                      <p>
                        <i class="bi bi-shop"></i> Récupéré au magasin
                      </p>
                    }
                  </div>
                  <div class="delivery-time" *ngIf="order.date_livraison">

                      <i class="bi bi-clock"></i>
                      @if (!order.recupere_magasin) {
                        Livrée
                    }@else {
                      Récupéré
                    } le
                       {{order.date_livraison | date : 'dd MMMM YYYY, hh:mm'}}
                  </div>
                  <div class="order-total">
                    Total: {{order.montant}} FCFA
                  </div>
                </div>
          </div>
        }
        @empty {
          <p class="no-orders">
            Aucun historique de commande
          </p>
        }
        }
      </div>
    </div>
  </div>



  <ng-template #temoignage>
    <div class="modal-header bg-dark text-white">
      <h5 class="modal-title">Faire un témoignage</h5>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="temoigner()" [formGroup]="TemoignageForm">
        <div class="row mb-3 mt-1 d-flex align-items-center">
          <div class="col-12 px-3">
            <label for="Texte_avis" class="form-label">Votre témoignage</label>
            <textarea class="form-control" id="Texte_avis" formControlName="Texte_avis" rows="4" ></textarea>
          <p *ngIf="TemoignageForm.controls['Texte_avis'].hasError('required') && (TemoignageForm.controls['Texte_avis'].dirty || TemoignageForm.controls['Texte_avis'].touched)" class="text-danger">Le message est obligatoire</p>

          </div>
          <div class="col-12 ">
            <label for="nbre_etoiles" class="form-label">Nombre d'étoiles</label>
            <div class="rating">
              <input id="nbre_etoiles" type="number" max="5" min="1" value="4" formControlName="nbre_etoiles" >
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-primary w-100">Envoyer</button>
      </form>
    </div>
  </ng-template>
