<section class="product_brand">
    <div class="brand text-center d-flex justify-content-center">
        <img class="paste-image-icon" src="../../assets/img/435688628_122141508104191964_5213991208487601928_n.jpg" alt="" srcset="">
        <div class="inner_brand">
            <div class="inner_brand_path">
                Accueil > <span class="inner_brand_current_location">Shop</span>
            </div>
            <div class="inner_brand_title">
                Boutique
            </div>
            <div class="inner_brand_desc">
                Des vetements et chaussures a bon prix.
            </div>
        </div>
    </div>
</section>
<section class="product">
    <div class="product_main d-flex flex-column flex-md-row justify-content-between align-items-center align-items-md-start">
        <div class="product_filter me-5">
            <h4 class="filter_title d-flex align-items-center my-4">
               <img src="../../assets/img/9104236_filter_setting_sort_configuration_icon.png" alt="" srcset=""> 
               Filtres
            </h4>
            <h4 class="my-4">CATEGORIES</h4>
            <ul>
                <li>
                    <a
                      (click)="switch_category('')"
                      class="link_category"
                      [ngClass]="{'active': current_category === ''}"
                    >
                      Tous les produits
                    </a>
                  </li>
                @for (item of list_categorie; track $index) {
                    <li>
                        <a
                          (click)="switch_category(item.slug)"
                          class="link_category"
                          [ngClass]="{'active': current_category === item.slug}"
                        >
                          {{item.nom}}
                        </a>
                      </li>
                }
            </ul>
        </div>
        
            <router-outlet class="p-0 m-0 row">
                
            </router-outlet>
        </div>
                
            
        
    
</section>