<section class="product_brand">
    <!-- Previous content unchanged -->
</section>
<section class="product">
    <div class="product_main d-flex flex-column flex-md-row px-3 px-md-0 align-items-md-start">
        <div class="product_filter me-5">
            <h4 class="filter_title d-flex align-items-center my-4">
               <img src="../../assets/img/9104236_filter_setting_sort_configuration_icon.png" alt="" srcset=""> 
               Filtres
            </h4>
            <h4 class="my-4">CATEGORIES</h4>
            <ul class="d-none d-md-block">
                <li>
                    <a
                      (click)="switch_category('')"
                      class="link_category"
                      [ngClass]="{'active': current_category === ''}"
                    >
                      Tous les produits
                    </a>
                </li>
                @for (item of list_categorie; track $index) {
                    <li>
                        <a
                          (click)="switch_category(item.slug)"
                          class="link_category"
                          [ngClass]="{'active': current_category === item.slug}"
                        >
                          {{item.nom}}
                        </a>
                    </li>
                }
            </ul>
            <select 
                class="form-select show-tick d-md-none ps-2 pe-5" 
                [(ngModel)]="selectedCategory"
                (change)="onCategorySelect($event)">
                <option value="">Tous les produits</option>
                @for (item of list_categorie; track $index) {
                    <option [value]="item.slug">{{item.nom}}</option>
                }
            </select>

            <!-- Legend Section -->
            <div class="product_legend mt-4">
                <h4 class="my-4">LÉGENDE</h4>
                <div class="legend_items">
                    <div class="legend_item d-flex align-items-center mb-4">
                        <img src="../../../assets/img/king.png" alt="VIP" class="legend_icon me-2">
                        <span>Produit VIP</span>
                    </div>
                    <div class="legend_item d-flex align-items-center">
                        <div class="legend-badge-wrapper me-2">
                            <div class="product-item__new-badge-legend">NEUF</div>
                        </div>
                        <span>Produit Neuf</span>
                    </div>
                </div>
            </div>
        </div>
        
        <router-outlet class="p-0 m-0 row"></router-outlet>
    </div>
</section>