$blue_color: #377DFF;
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.product_brand {
    .brand {
        // background-image: url("../../assets/img/435688628_122141508104191964_5213991208487601928_n.jpg");
        padding: 5vw;
        width: 80%;
        margin: auto;
        display: flex;
        object-fit: cover;
        overflow: hidden;
        align-items: center;
        position: relative;
        .paste-image-icon{
            width: 100%;
            
            object-fit: cover;
            position: absolute;
        }
      .inner_brand {
        top: 50%;
        left: 30%;
        padding: 10px;
        border: thick double #000000;
        backdrop-filter: blur(5px);
        margin: auto;
        .inner_brand_path {
            font-weight: 400;
            span{
                font-weight: 600;
            }
        }
  
        .inner_brand_title {
            font-size: 54px;
            font-weight: 500;
        }
  
        .inner_brand_desc {
            font-size: 20px;
            font-weight: 500;
        }
      }
    }
  }

.product {
  .product_main {
    width: 80%;
    
    margin: auto;
    .product_filter {
      margin: 20px 0;
      .filter_title{
        img{
          width: 30px;
        }
      }

      ul {
        list-style: none;
        li {
          margin: 10px 0;
          font-size: 14px;
          font-family:Arial, Helvetica, sans-serif;
          font-weight: 600;
          opacity: 0.7;
        }
      }
      .form-select{
        width: fit-content;
        option{
          background-color: white;
        }
        option:hover{
          background-color: #dadada;
        }
        option::selection{
          background-color: #377DFF;
        }
      }
    }

    
  }
  @media(max-width:767px){
    .product_main{
      width: 100%;
    }
  }
}
.product_list {
  width: 100%;

  .product_item {
    a {
      .product_item_img {
        .image-container {
          position: relative;
          width: 100%;
          padding-top: 125%; // This creates a 4:5 aspect ratio (80% width : 100% height)
          overflow: hidden;

          .responsive-product-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .product_item_infos {
        .product_item_price {
          color: $blue_color;
        }
      }
    }
  }
}

// Media queries pour ajuster la taille des images si nécessaire
@media (max-width: 576px) {
  .product_list .product_item .product_item_img .responsive-product-image {
    max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .product_list .product_item .product_item_img .responsive-product-image {
    max-width: 100%;
  }
}

@media (min-width: 993px) {
  .product_list .product_item .product_item_img .responsive-product-image {
    max-width: 100%;
  }
}


a{
  color: #000000;
}
.link_category {
  text-decoration: none;
  cursor: pointer;
}

.link_category.active {
  text-decoration: underline;
  font-weight: bold;
}
