<div class="bg-light checkout-progress row mb-5 mb-md-2">
    <div class="step col-12 col-sm-4  d-flex align-items-center justify-content-center" [ngClass]="getStepStatus(CheckoutStep.Panier)">
      <span class="text-center num rounded-circle">1</span>
      <i class="bi bi-check-circle-fill complete_mark d-none text-success me-2" style="font-size:30px"></i>
      <span>Shopping cart</span>
    </div>
    <div class="step col-12 col-sm-4 d-flex align-items-center justify-content-center" [ngClass]="getStepStatus(CheckoutStep.DetailsCommande)">
        <span class="text-center num rounded-circle">2</span>
      <i class="bi bi-check-circle-fill complete_mark d-none text-success me-2" style="font-size:30px"></i>
      <span>Détails Commande</span>
    </div>
    <div class="step col-12 col-sm-4 d-flex align-items-center justify-content-center" [ngClass]="getStepStatus(CheckoutStep.FinaliserCommande)">
      <span class="text-center num rounded-circle">3</span>
      <i class="bi bi-check-circle-fill complete_mark d-none text-success me-2" style="font-size:30px"></i>
      <span>Finaliser la commande</span>
    </div>
  </div>